<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id="app">
        <br>

        <template v-if="Str==' '">
            <font size="6">{{  random()  }}</font>
            <br><br>

            <button v-for="box in boxes" @click=check(box)>
                {{  box  }}
            </button><br>
            {{ Str }}

        </template>
        
        

        <template v-if="Str=='น้อยไป'">
            <font size="6">{{  n  }}</font>
            <br><br>

            <button v-for="box in boxes" @click=check(box)>
                {{  box  }}
            </button><br>
        {{ Str }}
        </template>


        <template v-if="Str=='มากไป'">
            <font size="6">{{  n  }}</font>
            <br><br>

            <button v-for="box in boxes" @click=check(box)>
                {{  box  }}
            </button><br>
            {{ Str }}
        </template>


        <template v-if="Str=='ถูกต้องง'">
            <font size="6">{{  random()  }}</font>
            <br><br>

            <button v-for="box in boxes" @click=check(box)>
                {{  box  }}
            </button><br>
            {{ Str }}
        </template>


    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                n: 0,
                boxes: [0,1,2,3,4,5,6,7,8,9],
                Str:" "
            },
            methods: {
                check: function(num){
                    if(num<this.n){
                        this.Str = 'น้อยไป'
                    }else if(num>this.n){
                        this.Str = 'มากไป'
                    }else if(num==this.n){
                        this.Str = 'ถูกต้องง'
                    }
                },
                random: function() {
                    random = Math.floor(Math.random()*10);
                    this.n = random;
                    return this.n
                }
                },
            computed: {
                
            }
        });
    </script>
</body>
</html>
